<%= form_with model: @product do |form|%>
  <div class="col-lg-4">
    <label for="formGroupExampleInput" class="form-label">Product Type</label>
    <%= form.select :type_id, options_for_select(Type.all.map { |t| [t.name, t.id] }, selected: @product.type_id), {prompt: "Select"}, class: 'form-select from-select-lg' %>
    <% @product.errors.full_messages_for(:type_id).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
  <div class="col-lg-4">
    <label for="formGroupExampleInput" class="form-label">Product Name</label>
    <%= form.text_field :name, class: "form-control",  placeholder: "Product Name"     %>
    <% @product.errors.full_messages_for(:name).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
  <div class="col-lg-4">
    <label for="formGroupExampleInput2" class="form-label">Serial Number:</label>
    <%= form.text_field :serial_no, class: "form-control", placeholder: "Serial Number" %>
    <% @product.errors.full_messages_for(:serial_no).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
  <div class="col-lg-4">
    <label for="formGroupExampleInput2" class="form-label">Price:</label>
    <%= form.text_field :price, class: "form-control",  placeholder: "Unit Price" %>
    <% @product.errors.full_messages_for(:price).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
  <div class="col-lg-4">
    <label for="formGroupExampleInput2" class="form-label">Unit:</label>
    <%= form.text_field :unit, class: "form-control  ",  placeholder: "Quantity" %>
    <% @product.errors.full_messages_for(:unit).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>
  <div class="col-lg-4">
    <label for="formGroupExampleInput2" class="form-label">Images:</label><br>
    <div class="field">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true %>
  </div>
    <% @product.errors.full_messages_for(:unit).each do |message| %>
      <p class="text-danger"><%=message %></p>
    <% end %>
  </div>

  <div class="mb-4 mt-4">
    <%= form.submit class: "btn btn-primary btn-lg rounded-0" %>
    <%= link_to "Back To Products", products_path, class: "btn btn-outline-primary rounded-0 btn-lg"  %>
  </div>
<% end %>
